{% extends "base.html" %}
{% set active_page = "system" %}

{% block content %}
<h2 class="mb-4">System Health</h2>

<div class="row">
    <div class="col-md-6 mb-3">
        <div class="card shadow-sm p-4">
            <h6>CPU Usage</h6>
            <canvas id="cpuChart"></canvas>
        </div>
    </div>

    <div class="col-md-6 mb-3">
        <div class="card shadow-sm p-4">
            <h6>Memory Usage</h6>
            <canvas id="ramChart"></canvas>
        </div>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="{{ url_for('static', filename='js/system.js') }}"></script>
{% endblock %}
